// 01.COLORS
$primary_0: #00ffa3;
$primary_1: #00efff;
$secondary: #fc6a00;

$gray_1: #050505;
$gray_2: #1e1e1e;
$gray_3: #282828;
$gray_4: #373737;
$gray_5: #848484;

.color-primary {
  background: linear-gradient(45deg, $primary_0, $primary_1);
}
.color-secondary {
  background: $secondary;
}

.bg-guidelines {
  background: #555;
}

.color-gary1 {
  background: $gray_1;
}

.color-gary2 {
  background: $gray_2;
}

.color-gary3 {
  background: $gray_3;
}

.color-gary4 {
  background: $gray_4;
}

.color-gary5 {
  background: $gray_5;
}

.text-color-primary {
  background: linear-gradient(45deg, $primary_0, $primary_1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
