// 01.COLORS
$primary_0: #00ffa3;
$primary_1: #00efff;
$secondary: #fc6a00;

$primary_gradient: linear-gradient(45deg, $primary_0, $primary_1);

$gray_1: #050505;
$gray_2: #1e1e1e;
$gray_3: #282828;
$gray_4: #373737;
$gray_5: #848484;

$customize-theme-gradient-colors: (
    "primary": $primary_gradient
    ) !default;

$customize-theme-colors: (
    "gray1": $gray_1,
    "gray2": $gray_2,
    "gray3": $gray_3,
    "gray4": $gray_4,
    "gray5": $gray_5,
    ) !default;


// 02.TYPOGRAPHY

// font-family: "Roboto Condensed", sans-serif;
// font-family: "Noto Sans TC", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");


// 字體大小
$font-size-basic: 16px;
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 3.5;
$h2-font-size: $font-size-base * 2.45;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.125;

$s1-font-size: $font-size-base * 0.875;
$s2-font-size: $font-size-base * 0.75;

$eng1-font-size: $font-size-base * 3;
$eng2-font-size: $font-size-base * 2;
$eng3-font-size: $font-size-base * 1.5;

// 字體粗細
$text-weight-bold: 700;
$text-weight-medium: 500;
$text-weight-light: 300;
$text-weight-regular: normal;


