/** functions */
@import "/node_modules/bootstrap/scss/functions";

/** 自訂 color variables*/
@import "./global-variables";
@import "./bs-variables";

// Merge the maps
$theme-colors: map-merge($theme-colors, $customize-theme-colors);

@import "./front-variables";

/** variables, variables-dark, mixins */
@import "/node_modules/bootstrap/scss/variables";
@import "/node_modules/bootstrap/scss/variables-dark";
@import "/node_modules/bootstrap/scss/mixins";

/** 自訂 function, mixins*/
@import "./helpers/function";
@import "./helpers/mixins";
@import "./helpers/text";