/** functions */
@import "/node_modules/bootstrap/scss/functions";

/** 自訂 color variables*/
@import "./global-variables";
@import "./bs-variables";

$black_gradient_lightToDark: linear-gradient(180deg, rgba($black, 0) 50%, rgba($black, 0.6) 100%);
$card-hover-bg: linear-gradient(90deg, $primary_0 0%, $primary_1 100%);
$card-hover-text: $gray_1;

// Merge the maps
$theme-colors: map-merge($theme-colors, $customize-theme-colors);

@import "./front-variables";

/** variables, variables-dark, mixins */
@import "/node_modules/bootstrap/scss/variables";
@import "/node_modules/bootstrap/scss/variables-dark";
@import "/node_modules/bootstrap/scss/mixins";

/** 自訂 function, mixins*/
@import "./helpers/function";
@import "./helpers/mixins";
@import "./helpers/text";

@import "./customize-swiper";